.LandingPage {
  background: black;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  align-items: stretch;
}

.center_all {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: black;
  height: 90%;
  width: 70%;
}

.centerTitle {
  height: 50%;
  width: 50%;
}
