.HomeBackground {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 55vw;
  min-width: 600px;
  max-width: 1000px;
  height: 55vw;
  min-height: 600px;
  max-height: 1000px;
  content: "";
  background-image: linear-gradient(
    135deg,
    #e44b40,
    #f5891d 8%,
    #f3b608 12%,
    #e7cc12 16%,
    #d7d22d 20%,
    #b7cd57 24%,
    #7fb794 28%,
    #4596b2 32%,
    #1c70a1 36%,
    #01121f 50%
  );
}

.Headline {
  height: auto;
  padding-top: 5%;
  margin-top: 20vh;
  margin-left: 5vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 80px;
    font-weight: bolder;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}
