:root {
  --primary: #fcf8e8;
  --text-color: #d4e2d4;
  --secondary: #ecb390;
  --tertiary: #df7861;
  --content-text: #33272a;
  --context-text-lighter: #594a4e;
  background: #01121f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
